---
import Container from "../shared/Container.astro";

---

<section>
    <Container className="space-y-8">
          <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/playstore.png" width="296" height="90" alt="spotify" class="h-7 sm:h-10 w-full ">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/images/apple.png" width="296" height="90" alt="slack" class="h-7 sm:h-10 w-full ">
            </div>
        </div>
    </Container>
</section>